@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Noto+Sans+TC:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8ab6d6;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

/* navbar */
nav{
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.brand{
    font-size: 20px;
}

 /* footer */
 .footer{
    color: white;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
    height: 5vh;
    width: 100%;
}



.main-content{
    background-color: #132c33;
    padding: 5%;
    box-shadow: 3px 2px 10px #1b1717;
}

.choice{
    margin: 20% auto;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 3px dashed #8ab6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player-selection{
    text-align: center;
    background-color: black;
    padding: 20px;
    margin-bottom: 10%;
    box-shadow: 3px 2px 10px #1b1717;
}

.selection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection img{
    max-width: 40vw;
    max-height: 20vh;
    transition: 0.5s all ease-in;
}

/* SETTING UP MOBILE VIEW */
@media screen and (max-width: 800px){
    .main-content{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .selection img{
        max-width: 30vw;
        max-height: 10vh;
        transition: 0.5s all ease-in;
    }

    .counter{
        margin-bottom: 15px;
        color: yellow;
    }
    
}

/* SETTING UP DESKTOP VIEW */
@media screen and (min-width: 800px){
    .main-content{
        display: flex;
        justify-content: space-around; 
    }
    
}



/* Game engine choices */

.choice-rock{
    background-image: url('assets/images/rock.png');
    background-position: center;
    background-repeat: no-repeat;
}