@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #903749;
    color: white;
    font-family: 'Lora', serif;
}

/* navbar */
nav{
    height: 10vh;
    display: flex;
    align-items: center;
    margin: 20px;
}

 /* footer */
 .footer{
    color: white;
    margin-bottom: 3%;
    text-align: center;
    position: relative;
    height: 5vh;
    width: 100%;
}

.footer a{
    text-decoration: none;
    color: yellow;
    cursor: pointer;
}

.main-content{
    background-color: #e84545;
    padding: 1%;
    box-shadow: 3px 2px 10px #1b1717;
    color: yellow;
}

.choice{
    margin: 20% auto;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 3px dashed #2b2e4a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: yellow;
}

.player-selection{
    color: yellow;
    text-align: center;
    background-color: #2b2e4a;
    padding: 20px;
    margin-bottom: 5%;
    box-shadow: 3px 2px 10px #1b1717;
}

.selection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection img{
    max-width: 40vw;
    max-height: 20vh;
    cursor: pointer;
    transition: 0.2s all ease-in;
}

.selection img:hover{
    box-shadow: 3px 2px 10px #1b1717;
}

.counter{
    margin-bottom: 15px;
    color: yellow;
    display: flex;
    align-items: center;
    font-size: 30px;
}

/* winner screen */
.winner-screen{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(83,53,74, 0.9);
    z-index: 2;
}

.winner-screen.open{
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

#play-again{
    color: white;
    background-color: #e84545;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #e84545;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

#play-again:hover{
    padding: 15px 50px;
    background-color: #e84545;
}


/* SETTING UP MOBILE VIEW */
@media screen and (max-width: 800px){
    .main-content{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .selection img{
        max-width: 30vw;
        max-height: 10vh;
        transition: 0.5s all ease-in;
    } 
    
    .choice{
        height: 150px;
        width: 150px;
    }
}

/* SETTING UP DESKTOP VIEW */
@media screen and (min-width: 800px){
    .main-content{
        display: flex;
        justify-content: space-around; 
    }
    
}



/* Game engine choices */

.choice-rock{
    background-image: url('assets/images/rock.png');
    background-position: center;
    background-repeat: no-repeat;
}